.ui.table {
  thead tr th {
    background-color: $primary-color;
    color: $tertiary-color;

    a {
      color: $tertiary-color;
      text-decoration: underline;
    }
  }

  tbody {
    .clickable-row {
      cursor: pointer;
    }
  }
}
